{:paths ["src" "test" "resources"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {djblue/portal {:mvn/version "RELEASE"}}}

  :test
  {:extra-deps
   {lambdaisland/kaocha          {:local/root "/home/arne/github/lambdaisland/kaocha"}#_{:mvn/version "1.0.829"}
    lambdaisland/kaocha-cucumber {:mvn/version "0.0-53"}}}}}
